@charset "UTF-8";
/*--------------------------------------------*/
@media screen and (min-width: 641px){

html{ font-size: 62.5%;}
body{
	min-height: 100%;
	font-size: 1.8rem;
	font-size: 18px\9; /* ie8 */
	width: 100%;
	background: #fff;
	color: #404040;
	font-family: 'Helvetica Neue', Helvetica, Arial, 'Droid Sans', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6{
	font-weight: normal;
	font-size: 2.2rem;
	font-size: 21px\9; /* ie8 */
	line-height: 1.4;
	margin: 0;
	padding: 0;
}

p{
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: #679934;
}

a:hover{ text-decoration: underline;}

ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.mb15{ margin-bottom: 15px;}

/*--------------------------------------------
#header
--------------------------------------------*/
#header{
	background: #679934;
	color: #FFF;
	position: relative;
}

#header .inner{
	padding: 30px 0;
	width: 960px;
	margin: 0 auto;
}

#header h1{
font-size: 3.6rem;
font-weight: bold;
/* text-shadow: 1px 1px 1px #52A4DB; */
text-align: center;
margin: 10px 0;
}

#header p{
font-size: 2.1rem;
width: 750px;
margin: 10px auto 20px;
}


#header nav{
width: 650px;
margin: 30px auto -30px; 
	
}

#header nav li{
   display: inline-block;  
    *display: inline;  
    *zoom: 1; 
	background: #FFF;
    -webkit-border-top-left-radius: 10px;  
    -webkit-border-top-right-radius: 10px;  
    -moz-border-radius-topleft: 10px;  
    -moz-border-radius-topright: 10px;
	font-size: 2.4rem;		
	margin: 0 2px;
}

#header nav li a{
	display: block;
	padding: 20px 80px;
	text-decoration: none;
}


/*--------------------------------------------
#process
--------------------------------------------*/
#process{
}

#process .inner{
	padding: 40px 0;
	width: 960px;
	margin: 0 auto;
}

#process .inner h2 {
	margin-bottom: 20px;
	font-size: 3.5rem;
	font-size: 35px\9;
	text-align: left\9;
	border-bottom: 1px solid #000;
	padding-bottom: 5px;
}

#process .process_list{
	display: inline-block;
	width: 31%;
	vertical-align: top;
	margin-top: 10px;
	padding: 0 11px;
}

#process .enabled_device{
font-size: 80%;
margin-bottom: 10px;
}


#process #iphone{
margin: 20px 0;
}

#process #android{
margin: 40px 0 20px;
}


#process .process_list h3{
font-weight: bold;
margin-bottom: 10px;
}

#process .annotation{
	font-size: 60%;
}

/*--------------------------------------------
#about
--------------------------------------------*/
#about{
	background: #679934;
	margin: 0;
	padding: 0;
}

#about .inner{
	padding: 30px 0 20px;
	width: 960px;
	margin: 0 auto;
}

#about #logo{
text-align: center;
}

#about #logo img{
padding: 20px;
background: #FFF;
border-radius: 7px;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
}





#pageTop {
position: fixed; 
right: 20px; 
bottom: 20px; 
z-index: 1000; 
border-top-left-radius: 100px; 
border-radius: 10px; 
-webkit-border-radius: 10px; 
-moz-border-radius: 10px; 
font-size: 120%; 
border: 1px solid rgb(187, 187, 187); 
width: 38px; 
height: 38px; 
display: block; 
background: rgb(255, 255, 255);
}

#pageTop  a{
display: block; 
color: #679934; 
text-decoration: none;
text-align: center;
}



}